#guide {
  padding: 15px 15px 15px 15px;
}

#subjectNav{
  float: left;
}
video{
  height: 100%;
  width: 100%;
  display: inline-block;
  text-align: center;
}
.center  {
  margin-left: auto;
  margin-right: auto;
  display: block
}

ul {
  padding: 0px 40px;
}
